# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GEOSgcm should be owned by the GCM Gatekeepers
* @GEOS-ESM/gcm-gatekeepers

# The GCM gatekeepers and CMake should know/approve these
/.github/    @GEOS-ESM/cmake-team @GEOS-ESM/gcm-gatekeepers
/.circleci/  @GEOS-ESM/cmake-team @GEOS-ESM/gcm-gatekeepers
/.codebuild/ @GEOS-ESM/cmake-team @GEOS-ESM/gcm-gatekeepers

# The GEOS CMake Team should be notified about changes to the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team @GEOS-ESM/gcm-gatekeepers

# The GEOS CMake Team should be notified about and approve config changes
/config/ @GEOS-ESM/cmake-team @GEOS-ESM/gcm-gatekeepers
