*~
/@cmake/
/cmake/
/cmake@/
/@env/
/env/
/env@/
/.mepo/
parallel_build.o*
log.*
CMakeUserPresets.json

# Ignore possible symlinked directories
build-*
install-*

*.swp
*.swo
.DS_Store
*#
.#*
**/CVS/
