version: 2.1

parameters:
  GHA_Actor:
    type: string
    default: ""
  GHA_Action:
    type: string
    default: ""
  GHA_Event:
    type: string
    default: ""
  GHA_Meta:
    type: string
    default: ""

# Anchors to prevent forgetting to update a version
os_version: &os_version ubuntu24
baselibs_version: &baselibs_version v8.19.0
bcs_version: &bcs_version v11.6.0
tag_build_arg_name: &tag_build_arg_name gcmversion

orbs:
  ci: geos-esm/circleci-tools@4

workflows:
  build-test:
    jobs:
      - ci/build:
          name: build-GEOSgcm-on-<< matrix.compiler >>
          context:
            - docker-hub-creds
          matrix:
            parameters:
              # ifx currently can't build FMS
              #compiler: [gfortran, ifort, ifx]
              compiler: [gfortran, ifort]
          baselibs_version: *baselibs_version
          repo: GEOSgcm
          mepodevelop: false
          persist_workspace: false # Needs to be true to run fv3/gcm experiment, costs extra

      ######################################################
      # # Run AMIP GCM (1 hour, no ExtData)                #
      # - ci/run_gcm:                                      #
      #     name: run-GCM-on-<< matrix.compiler >>         #
      #     context:                                       #
      #       - docker-hub-creds                           #
      #     matrix:                                        #
      #       parameters:                                  #
      #         # ifx currently can't build FMS            #
      #         #compiler: [gfortran, ifort, ifx]          #
      #         compiler: [gfortran, ifort]                #
      #     requires:                                      #
      #       - build-GEOSgcm-on-<< matrix.compiler >>     #
      #     repo: GEOSgcm                                  #
      #     baselibs_version: *baselibs_version            #
      #     bcs_version: *bcs_version                      #
      #                                                    #
      # # Run Coupled GCM (1 hour, no ExtData)             #
      # - ci/run_gcm:                                      #
      #     name: run-coupled-GCM-on-<< matrix.compiler >> #
      #     context:                                       #
      #       - docker-hub-creds                           #
      #     matrix:                                        #
      #       parameters:                                  #
      #         # ifx currently can't build FMS            #
      #         #compiler: [gfortran, ifort, ifx]          #
      #         compiler: [gfortran, ifort]                #
      #     requires:                                      #
      #       - build-GEOSgcm-on-<< matrix.compiler >>     #
      #     repo: GEOSgcm                                  #
      #     baselibs_version: *baselibs_version            #
      #     bcs_version: *bcs_version                      #
      #     gcm_ocean_type: MOM6                           #
      #     change_layout: false                           #
      ######################################################

  build-and-publish-docker:
    when:
      equal: [ "release", << pipeline.parameters.GHA_Event >> ]
    jobs:
      - ci/publish_docker:
          filters:
            tags:
              only: /^v.*$/
          name: publish-ifort-docker-image
          context:
            - docker-hub-creds
            - ghcr-creds
          os_version: *os_version
          baselibs_version: *baselibs_version
          bcs_version: *bcs_version
          container_name: geosgcm
          mpi_name: intelmpi
          mpi_version: "2021.13"
          compiler_name: ifort
          compiler_version: "2021.13"
          image_name: geos-env-bcs
          tag_build_arg_name: *tag_build_arg_name
          resource_class: xlarge
      #- ci/publish_docker:
          #filters:
            #tags:
              #only: /^v.*$/
          #name: publish-ifx-docker-image
          #context:
            #- docker-hub-creds
            #- ghcr-creds
          #os_version: *os_version
          #baselibs_version: *baselibs_version
          #bcs_version: *bcs_version
          #container_name: geosgcm
          #mpi_name: intelmpi
          #mpi_version: "2021.14"
          #compiler_name: ifx
          #compiler_version: "2025.0"
          #image_name: geos-env-bcs
          #tag_build_arg_name: *tag_build_arg_name
          #resource_class: xlarge
      - ci/publish_docker:
          filters:
            tags:
              only: /^v.*$/
          name: publish-gcc-docker-image
          context:
            - docker-hub-creds
            - ghcr-creds
          os_version: *os_version
          baselibs_version: *baselibs_version
          bcs_version: *bcs_version
          container_name: geosgcm
          mpi_name: openmpi
          mpi_version: 5.0.5
          compiler_name: gcc
          compiler_version: 14.2.0
          image_name: geos-env-bcs
          tag_build_arg_name: *tag_build_arg_name
          resource_class: xlarge
